

<h1>
    Add a location
</h1>





<button ng-click="showTheForm = !showTheForm">Add a Task</button>

<form ng-show="showTheForm" ng-submit="processForm(shops)">
    <input id="city" ng-model="shops.name" placeholder="name of the city">
    <input id="depth" placeholder="depth in cm" ng-model="shops.depth">
    <br>

    <button>Submit</button>
    <button type="button" ng-click="showTheForm = false">Cancel</button>
</form>




<br>
<br>
<div id="local">


</div>
<div id="container" ng-repeat="shops in markets">
<a href="#/productlist">
    <div class="button_base b05_3d_roll" data-shelvdept="90">
        <div>{{shops.name}}</div>
        <div>{{shops.name}}</div>

    </div>
</a>
<button class="btn" ng-click="remove($index)">X</button>
</div>

<a href="#/productlist">
    <div class="button_base b05_3d_roll" data-shelvdept="90">
        <div>Sello K-citymarket</div>
        <div>Sello K-citymarket</div>
    </div>
</a>
<br>
<br>
<a href="#/productlist">
    <div class="button_base b05_3d_roll" data-shelvdept="90">
        <div>Sello Prisma </div>
        <div>Sello Prisma</div>
    </div>
</a>
<br>
<br>

<br>
<br>
